.progress {
  // padding: 4rem 110px;
  height: 3rem;
  position: relative;
  // background-color: aquamarine;

  .progress-point {
    background: #a6a6a6;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }
  .progress-point-current {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5558fa;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 100;
    // margin: 0 auto;

    .center-mark {
      width: 0.2rem;
      height: 0.2rem;
      border-radius: 50%;
      background: #ffffff;
    }
  }
  .progress-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    height: 8px;
    width: 100%;
    background: #a6a6a6;
    // background: linear-gradient(to right, #5558fa 50%, transparent 50%),
    //   linear-gradient(to right, transparent 50%, #a6a6a6 50%);
  }
  .caption-line {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    .point-caption {
      // font-family: 'SB Sans Interface';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #5558fa;
    }
  }
}
