@use './styles/reset';
@use './styles/normalize';
@use './styles/_layouts';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif, ui-sans-serif, system-ui, -apple-system, Arial;
  font-size: 16px;
  background-color: #f4f4f5;
}

#root {
  max-width: 900px;
  min-height: 700px;
  margin: 1.5rem auto;
  background-color: #ffffff;
  border-radius: 12px;
}
