.inputItem {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;

  .label {
    margin-bottom: 0.5rem;
    // font-family: 'SB Sans Interface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .input {
    max-width: 400px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
  }
  .error {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.48);
    margin-top: 0.5rem;
  }
}
